@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <form method="post">
        <button type="submit" class="btn btn-sm btn-danger">Logout</button>
    </form>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>